.App {
  text-align: center;
}
/*   */
.footer1 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(240, 236, 236);
  color: rgb(14, 13, 13);
  text-align: center;
}
 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*  ======================== LOGIN  ======================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body { */
    /* font-family: 'Poppins', sans-serif; */
    /* background-color: #151515; */
    /* display: grid; */
    /* place-content: center; */
    /* height: 100vh; */
    /* padding: 5px; */
    /* color: #fff; */
/* } */

/* ======================== */

.scene {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
    background-color: #4695ea;
    border-radius: 4px;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
}

.scene img {
    position: absolute;
}

.city {
    bottom: -3px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.plane {
    top: 47px;
    left: -50px;
    width: 45%;
    animation: plane-move 30s linear forwards;
}

.cloud {
    animation: clouds-move 18s linear forwards;
}

.cloud-1 {
    width: 90px;
    top: 0;
    left: 120px;
}

.cloud-2 {
    width: 80px;
    top: 20px;
    left: 310px;
}

.cloud-3 {
    width: 75px;
    top: 55px;
    left: 210px;
}

.boat {
    width: 30%;
    bottom: 0;
    right: -50px;
    animation: boat-move 65s linear forwards;
}

@keyframes plane-move {
    to {
        transform:
            translate(1500px, -100px);
    }
}

@keyframes clouds-move {
    to {
        transform:
            translateX(-35px);
    }
}

@keyframes boat-move {
    to {
        transform:
            translateX(-1459px);
    }
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
/* * {
  box-sizing: border-box;
}
body {
  background: #1C8EF9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
} */
/* h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
} */
/* body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
} */


@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --blue: rgb(26, 57, 87);
  --white: rgba(236, 236, 236, 0.867);
}

body, html, .App, #root, .auth-wrapper,  .footer1 {
  font-family: 'Fira Sans', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light, html.light, .App.light, #root.light, .auth-wrapper.light,  .footer1.light  {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  /* --image: url("../day.jpg"); */
}

body.dark, html.dark, .App.dark, #root.dark, .auth-wrapper.dark,  .footer1.dark, .navbarText  {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 400; 
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
}
  


/*-------------------  NAVBAR -----------------------*/
.navbarText{
    color: #000000;
    text-decoration: none; 
    
} 


.navbarText:hover {
  font-size:117%;
  color: #7ABD30;
  
}  

/* /////////////------CARD-------------------- */
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
} 

.card1:hover {
  box-shadow: 0 25px 25px 0 rgba(0,0,0,0.2);
  /* font-size:101%; */
}

.container1 {
  padding: 2px 16px;
}

.pointer {
  cursor: pointer;
}
 


