#darkMode {
  background: transparent url("../pictures/moon.png") no-repeat center;
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover, 

#darkMode.clicked {
  filter: none !important;
  background-color: #1A3957;
}

#lightMode.clicked {
  filter: none !important;
  background-color: #ECECEC;
} 